extends: default

rules:
  line-length:
    max: 200
    level: warning
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  indentation:
    spaces: 2
    indent-sequences: true
  key-duplicates: enable
  trailing-spaces: enable
  empty-values:
    forbid-in-block-mappings: false
    forbid-in-flow-mappings: false
  document-start: disable
  comments:
    min-spaces-from-content: 1
  truthy: disable

ignore: |
  .git/
  node_modules/
  **/node_modules/
  .venv/
  venv/
